<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{ cliente.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">

    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success == true">
                    Cliente Salvo/atualizado com Sucesso
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div> 
            </div>
        </div>

        <div class="row" *ngIf="cliente.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Id: </label>
                    <input type="text"  name="id" [ngModel]="cliente.id" class="form-control" disabled="true">
                </div>
            </div>
            <div class="col-md-6" *ngIf="cliente.dataCadastro">
                <div class="form-group">
                    <label>Data Cadastro: </label>
                    <input type="text" class="form-control" name="dataCadastro" [ngModel]="cliente.dataCadastro" disabled="true">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>Nome: * </label>
                    <input required #Nome="ngModel" type="text" class="form-control" [(ngModel)]="cliente.nome" name="nome">
                    <div *ngIf="!Nome.valid && Nome.touched"
                    class="alert alert-danger" role="alert">
                        Campo Nome é obrigatório
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Tipo de Pessoa </label>
                    <select required class="form-control" (change)="selecionaTipoPessoa(cliente.tipoDePessoa)" [(ngModel)]="cliente.tipoDePessoa" name="tipoDePessoa">
                        <option disabled value="">Selecione uma opção</option>
                        <option value="PJ">PJ</option>
                        <option value="PF">PF</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Ativo: * </label>
                    <input type="checkbox" required name="status" [(ngModel)]="cliente.status" class="form-control">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>RG: * </label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" 
                    type="text" maxlength="9" minlength="9" placeholder="00.000.000-0" required #RG="ngModel" name="rg" [(ngModel)]="cliente.rg" class="form-control">
                </div>
                <div *ngIf="RG.invalid && RG.touched"
                class="alert alert-danger" role="alert">
                    Campo RG é obrigatório
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5" *ngIf="typePeoplePJ == true">
                <div class="form-group">
                    <label>CPF: * </label>
                    <input  type="text"  minlength="11" maxlength="11" placeholder="000.000.000-00" class="form-control" [(ngModel)]="cliente.cpf" name="cpf"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" required #CPF="ngModel">
                    <div *ngIf="CPF.invalid && CPF.touched"
                    class="alert alert-danger" role="alert">
                        Campo CPF é obrigatório
                    </div>
                </div>
            </div>
            <div class="col-md-5" *ngIf="typePeoplePJ == false">
                <div class="form-group">
                    <label>CNPJ: * </label>
                    <input  type="text" required #CNPJ="ngModel" minlength="14" maxlength="14"  placeholder="00.000.000.0000/00" class="form-control" [(ngModel)]="cliente.cnpj" name="cnpj"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" >
                    <div *ngIf="CNPJ.invalid && CNPJ.touched "
                    class="alert alert-danger" role="alert">
                        Campo CNPJ é obrigatório
                    </div>
                </div>
            </div>

            <div class="col-md-1">
                <div class="form-group">
                    <label>DDD: * </label>
                    <input required #DDD="ngModel" type="text" maxlength="2" minlength="2" placeholder="00" class="form-control" [(ngModel)]="cliente.ddd" name="ddd"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                </div>
                <div *ngIf="DDD.invalid && DDD.touched "
                    class="alert alert-danger" role="alert">
                        DDD obrigatório
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Telefone: * </label>
                    <input type="text" maxlength="9" minlength="9" placeholder="00000-0000" required #TEL="ngModel" name="telefone1" 
                    [(ngModel)]="cliente.telefone1" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                </div>
                <div *ngIf="TEL.invalid && TEL.touched "
                    class="alert alert-danger" role="alert">
                        Telefone é obrigatório
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Telefone Adicional: </label>
                    <input type="text"  maxlength="9" placeholder="00000-0000" name="telefone2" [(ngModel)]="cliente.telefone2" class="form-control"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                </div>
            </div>
        </div>     

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!cliente.id" [disabled]="!clienteForm.valid">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-primary" *ngIf="cliente.id" [disabled]="!clienteForm.valid">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left"></i>  Voltar
                </button>
            </div>
        </div>
    </form>
</div>